<mat-progress-spinner *ngIf="loading" [diameter]="32"></mat-progress-spinner>

<div class="grid"  *ngIf="!loading"  >
    @if (allShips().length === 0) {
      <h1 i18n class="row">
        Vous n'avez pas renseigné de bateaux.
      </h1>
    }

    <button class="row" mat-button (click)="openAddShip()" mat-flat-button i18n>
      Créer un bateau
    </button>

  <div *ngIf="allShips().length > 0">
    <br />
    <h3 i18n style="font-style: italic">Clique-droit pour consulter ou éditer le bateau</h3>
  </div>

    <mat-grid-list *ngIf="allShips().length > 0" cols="3" rowHeight="3:2" >
      <mat-grid-tile
        *ngFor="let ship of allShips()"
        [cdkContextMenuTriggerFor]="contextMenu"
        [cdkContextMenuTriggerData]="{ship}"
        class="content"  >
            {{ship.name}}
      </mat-grid-tile>
    </mat-grid-list>

</div>




<ng-template #contextMenu let-ship="ship">
  <mat-action-list >

    <!-- Dummy to remove the autofocus -->
      <mat-list-item  cdkMenuItem (click)="consult(ship)">
        <mat-icon matListItemIcon>photo icon</mat-icon>
        Consulter
      </mat-list-item>

    <mat-list-item (click)="edit(ship)" cdkMenuItem i18n>
      <mat-icon matListItemIcon>edit</mat-icon>
      Éditer
    </mat-list-item>


    <mat-list-item (click)="delete(ship)" cdkMenuItem i18n>
      <mat-icon matListItemIcon>delete</mat-icon>
      Supprimer
    </mat-list-item>
  </mat-action-list>
</ng-template>

