<div class="auth-form">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="auth-card">
      <mat-card-header >
        <mat-card-title>
          <ng-content select="[idf-title]" ></ng-content>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                (input)="triggerPasswordValidation()"
                matInput
                i18n-placeholder
                placeholder="Mot de passe"
                type="password"
                formControlName="password" />
            </mat-form-field>

            @if (passwordErrors?.succeeded == false) {
                <mat-list >
                  <mat-error i18n>Le mot de passe nécessite : </mat-error>
                    <ng-container *ngFor="let err of passwordErrors?.errors"  [ngSwitch]="err.code">
                      <mat-error *ngSwitchCase="PasswordErrorCodes.PasswordRequiresDigit">
                        Un chiffre;
                      </mat-error>
                      <mat-error i18n *ngSwitchCase="PasswordErrorCodes.PasswordTooShort">
                        Au moins 8 caractères;
                      </mat-error>

                      <mat-error i18n *ngSwitchCase="PasswordErrorCodes.PasswordRequiresNonAlphanumeric">
                        Un charactère non alphanumérique;
                      </mat-error>

                      <mat-error i18n *ngSwitchCase="PasswordErrorCodes.PasswordRequiresUpper">
                        Une majuscule;
                      </mat-error>

                      <mat-error i18n *ngSwitchCase="PasswordErrorCodes.PasswordRequiresUniqueChars">
                        Un charactère unique;
                      </mat-error>
                      <mat-error i18n *ngSwitchCase="PasswordErrorCodes.PasswordRequiresLower">
                        Une minuscule;
                      </mat-error>
                    </ng-container>
                </mat-list>
            }
          </div>
        </div>

        <ng-content select="[idf-middle]"> </ng-content>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary" type="submit">
          <ng-content select="[idf-submit-content]"></ng-content>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
